<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration Form</title>
  <style>
    .wrapper { margin: 1em; padding: 1em; border: 1px solid #eee; border-radius: 5px; }
    .form-item { display: block; margin: 0.5em 0em; }
    .form-item[type="submit"] { padding: 0.5em 1em; border-radius: 5px; }
    .inline { display: inline-block; }
  </style>
  <script src="../static/angular.min.js"></script>
  <script src="registration.js"></script>
</head>
<body>

  <div ng-app="registrationApp" ng-controller="RegistrationCtrl as rc" class="wrapper" >

    <h1>Registration Form</h1>

    <div ng-show="registrationForm.$pristine">Form input has not yet started</div>
    <div ng-show="registrationForm.$dirty">Form input has started</div>
    <form action="" name="registrationForm" ng-submit="person.register()" novalidate>
      <input type="text" placeholder="First Name" name="firstName" ng-model="person.firstName" class="form-item" required>
      <span ng-show="firstnameInvalid"><br>Please enter a first name</span>

      <input type="text" placeholder="Last Name" name="lastName" ng-model="person.lastName" class="form-item"  required>
      <span ng-show="lastNameInvalid"><br>Please enter a last name</span>

      <input type="email" placeholder="Email" name="email" ng-model="person.email" class="form-item"  required>
      <span ng-show="emailInvalid"><br>Please enter an email</span>

      <select name="level" id="" ng-model="person.levels" ng-options="obj.value as obj.label for obj in person.channels" class="form-item" >
        <option value="">Where did you hear about us?</option>
      </select>
      <span ng-show="researchInvalid"><br>Please tell us how you heard about us</span>

      <input type="checkbox" name="newsletterOptIn" id="newsletterOptIn" value="newsletterOptIn" ng-model="person.newsletterOptIn" class="form-item inline" >
      <label for="newsletterOptIn">Receive monthly newsletter</label>

      <input type="submit" value="Register" ng-click="person.register()" class="form-item">

      <br>
    </form>

    <div ng-show="doShow">
      Thank you for taking the time to register
    </div>

  </div>
</body>
</html>
